<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <main>
        <label for="email">Digite seu email:</label>
        <input type="text" id="email">
        <br>
        <label for="password">Digite sua senha:</label>
        <input type="password" id="password">
        <br>

        <button id="buttonLogin">Login</button>

        <p>Não tem uma conta? Cadastre-se <a href="./cadastro.html">aqui!</a></p>
    </main>

    <script src="../js/login.js" ></script>
</body>
</html>